[submodule "examples/alpaca-lora"]
	path = examples/alpaca-lora
	url = https://github.com/henryqin1997/alpaca-lora
[submodule "examples/mmsegmentation"]
	path = examples/mmsegmentation
	url = https://github.com/henryqin1997/mmsegmentation.git
[submodule "examples/InfoBatch-ImageNet"]
	path = examples/InfoBatch-ImageNet
	url = https://github.com/henryqin1997/InfoBatch-ImageNet.git
